{% extends 'base.html.twig' %}

{% block title %}Моя история/Профиль/StudyOn{% endblock %}

{% block body %}
    <h1 class="text-center mt-2">Моя история</h1>
    <div class="row justify-content-center mt-5">
        <div class="align-items-center">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Код курса</th>
                    <th scope="col">Дата окончания</th>
                </tr>
                </thead>
                <tbody>
                {% for transactionDto in transactionsDto %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ transactionDto.createdAt}}</td>
                        <td>{{ transactionDto.type }}</td>
                        <td>{{ transactionDto.amount }}</td>
                        <td>{{ transactionDto.courseCode }}</td>
                        <td>{{ transactionDto.expiresAt }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}