{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name}} / {{ lesson.course.name}} / StudyOn{% endblock %}

{% block body %}
    <h1>Урок: {{ lesson.name }}</h1>
    <h2>Курса: <a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></h2>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="d-flex mt-3 mb-4">
            <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="lesson__edit btn btn-outline-secondary a_margin">Редактировать</a>
            {{ include('lesson/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            {{ lesson.material }}
        </div>
    </div>
{% endblock %}
